<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title الصفحة دي مش موجودة
    include partials/css
  body
    .container
      .not-found
        h4 الصفحة دي مش موجودة
        p آسفين. بس شكل الصفحة دي مش موجودة. ممكن ترجع <a href="/">للصفحة الرئيسية</a>
      
    include partials/footer

    include partials/js