<!DOCTYPE html>
html(lang="ar")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title اعمل شات جديدة
    include partials/css
  body
    .container
      form.add-chat.flex(method="POST")
        input.input-field(type="text" placeholder="اسم الشات (حروف انجليزية فقط)" name="chat_name")
        input.input-field(type="password" placeholder="باسورد الشات (اختياري)" name="chat_password")
        if errorText
            p.form-error= errorText
        button.btn اعمل الشات
    include partials/footer

    include partials/js